<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="http://localhost:8080/css/cart.css">
    <link rel="stylesheet" href="http://localhost:8080/css/detail.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<ul class="nav nav-tabs" id="navbar" style="background : #003366; width: 100%" >
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/home}" style="color : black"><b>Tranng chủ</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color : #FFFFFF" th:href="@{/aboutMe}"><b>Giới Thiệu</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color : #FFFFFF"><b>Liên Hệ</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color : #FFFFFF"><b>Tuyển Dụng</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color : #FFFFFF"><b>Chi Nhánh</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://chatgpt.com/" style="color : #FFFFFF"><b>Trợ Giúp</b></a>
    </li>
    <li class="nav-item" th:unless="${#authentication != null}">
        <a class="nav-link" th:href="@{/login}" style="color : #FFFFFF"><b>Đăng Nhập</b></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:unless="${#authentication == null}" onclick="return confirm('Bạn Có Chắc Chắn Rằng Muốn Thoát?')" th:href="@{/logout}" style="color : #FFFFFF"><b>Đăng Xuất</b></a>
    </li>
</ul>
<div class="container" style="margin-top: 20px">
    <div class="row">
        <div class="col-lg-3">
            <span><img width="80px" height="30px"  src="http://localhost:8080/Image/logoremovebg.png"> <b class="text-panel">LAPTOP NHẤT THIÊN PHÚ</b></span>
        </div>
        <div class="col-lg-5">
            <form method="get" th:action="@{/user/findProduct}">
                <div class="input-group">
                    <select th:name="type" class="btn btn-outline-primary" style="width:150px;height:50px;margin-top:12px;margin-right:8px;border-radius:5px">
                        <option th:value="Laptop">Laptop</option>
                        <option th:value="Screen">Màn Hình</option>
                        <option th:value="Keyboard">Bàn Phím</option>
                        <option th:value="Mouse">Chuột</option>
                        <option th:value="HeadPhone">Tai Nghe</option>
                        <option th:value="Chip">Chip</option>
                        <option th:value="SmartWatch">Smart Watch</option>
                        <option th:value="PhuKien">Phụ Kiện</option>
                    </select>
                    <input style="margin-top:12px" type="search" name="productName" class="form-control rounded" placeholder="Hôm nay bạn muốn tìm gì? ^^" aria-label="Search" aria-describedby="search-addon" />
                    <button style="margin-top:12px" type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
                </div>
            </form>
        </div>
        <div class="col-lg-2" style="height: 50px">
            <div class="col-lg-2" style="height: 50px">
                <button class="btn btn-danger" style="width:120px;height:60px;margin-left:30px" sec:authorize="isAuthenticated()"><b>Kiểm
                    Tra Đơn Hàng</b></button>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-1">

        </div>
    </div>
</div>
<!-- End Navbar -->

<!-- Content -->
<div class="container" style="background-color:#EEEEEE">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8" style="background-color:white;margin-top:20px;margin-bottom:20px" >
            <div>
                <h4 style="margin-top:20px"><b>Giỏ Hàng</b></h4>
            </div>
            <hr>
            <div class="row" th:each="l : ${laptops}">
                <div class="col-lg-4">
                    <img th:src="@{${'/admin/displayImageLaptop?id=' + l.id}}" width="200px" height="150px">
                </div>
                <div class="col-lg-8">
                    <b><h5 th:text="${l.laptopName}"></h5></b><br>
                    <h5 style="color:red">Tổng Thanh Toán: <span th:text="${l.discount}"></span></h5><br>
                    <span style="margin-bottom:10px">
                        <a href="#" style="width:200px;height:50px;margin-left:40px" class="btn btn-danger"><b><p style="margin-top:5px">Thanh Toán</p></b></a>
                        <a th:href="@{/user/deleteProductInCart(id=${l.id},type=${l.type})}" style="width:200px;height:50px"  class="btn btn-danger"><b><img style="margin-top:2px" width="30px" height="30px" src="http://localhost:8080/Image/recycle-bin.png"></b></a>
                    </span>
                </div>
                <hr>
            </div>
            <div class="row" th:each="l : ${keyboards}">
                <div class="col-lg-4">
                    <img th:src="@{${'/admin/displayImageKeyboard?id='+ l.id}}" width="200px" height="150px">
                </div>
                <div class="col-lg-8">
                    <b><h5 th:text="${l.keyboardName}"></h5></b><br>
                    <h5 style="color:red">Tổng Thanh Toán: <span th:text="${l.discount}"></span></h5><br>
                    <hr>
                    <span style="margin-bottom:10px">
                        <a href="#" style="width:200px;height:50px;margin-left:40px" class="btn btn-danger"><b><p style="margin-top:5px">Thanh Toán</p></b></a>
                        <a th:href="@{/user/deleteProductInCart(id=${l.id},type=${l.type})}" style="width:200px;height:50px"  class="btn btn-danger"><b><img style="margin-top:2px" width="30px" height="30px" src="http://localhost:8080/Image/recycle-bin.png"></b></a>
                    </span>
                </div>
                <hr>
            </div>
            <div class="row" th:each="l : ${mouseList}">
                <div class="col-lg-4">
                    <img th:src="@{${'/admin/displayImageMouse?id='+ l.id}}" width="200px" height="150px">
                </div>
                <div class="col-lg-8">
                    <b><h5 th:text="${l.mouseName}"></h5></b><br>
                    <h5 style="color:red">Tổng Thanh Toán: <span th:text="${l.discount}"></span></h5><br>
                    <hr>
                    <span style="margin-bottom:10px">
                        <a href="#" style="width:200px;height:50px;margin-left:40px" class="btn btn-danger"><b><p style="margin-top:5px">Thanh Toán</p></b></a>
                        <a th:href="@{/user/deleteProductInCart(id=${l.id},type=${l.type})}" style="width:200px;height:50px"  class="btn btn-danger"><b><img style="margin-top:2px" width="30px" height="30px" src="http://localhost:8080/Image/recycle-bin.png"></b></a>
                    </span>
                </div>
                <hr>
            </div>
            <div class="row" th:each="l : ${screens}">
                <div class="col-lg-4">
                    <img th:src="@{${'/admin/displayImageScreen?id='+ l.id}}" width="200px" height="150px">
                </div>
                <div class="col-lg-8">
                    <b><h5 th:text="${l.screenName}"></h5></b><br>
                    <h5 style="color:red">Tổng Thanh toán: <span th:text="${l.discount}"></span></h5><br>
                    <hr>
                    <span style="margin-bottom:10px">
                        <a href="#" style="width:200px;height:50px;margin-left:40px" class="btn btn-danger"><b><p style="margin-top:5px">Thanh Toán</p></b></a>
                        <a th:href="@{/user/deleteProductInCart(id=${l.id},type=${l.type})}" style="width:200px;height:50px"  class="btn btn-danger"><b><img style="margin-top:2px" width="30px" height="30px" src="http://localhost:8080/Image/recycle-bin.png"></b></a>
                    </span>
                </div>
                <hr>
            </div>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>
<!-- End Content -->

<!-- Footer -->
<div class="container" style="background: #003366;color:white; border-radius:20px; margin-bottom: -10px">
    <div class="row" style="margin-top: 20px">
        <div class="col-lg-3" style="margin-top: 20px">
            <h5 ><b>Thông Tin Liên Hệ</b></h5><br>
            <span>SĐT: 0342232931</span><br>
            <span>Email: trinhhaison2004@gmail.com</span><br>
            <span>Facebook: ..........</span><br>
            <span>Zalo: 0342232931</span><br>
            <span>Website: https://nhatthienphu.vn</span><br>
        </div>
        <div class="col-lg-3" style="margin-top: 20px">
            <h5><b>Hệ Thống Cửa Hàng</b></h5><br>
            <span>Danh Sách Các Của Hàng Trên Toàn Quốc</span>
        </div>
        <div class="col-lg-3" style="margin-top: 20px">
            <h5><b>Hình Thức Thanh Toán</b></h5>
            <div class="row" style="margin-bottom: 10px;margin-top: 20px">
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/logo-visa.png" width="80px" height="30px">
                </div>
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/logo-master.png" width="80px" height="30px">
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/logo-jcb.png" width="80px" height="30px">
                </div>
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/logo-samsungpay.png" width="80px" height="30px">
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/logo-atm.png" width="80px" height="30px">
                </div>
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/logo-vnpay.png" width="80px" height="30px">
                </div>
                <div class="col-lg-6">
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/logo-zalo.png" width="80px" height="30px">
                </div>
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
        <div class="col-lg-3" style="margin-top: 20px">
            <h5><b>Hình Thức Vận Chuyển</b></h5>
            <div class="row" style="margin-bottom: 10px;margin-top: 20px">
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/nhattin.jpg" width="80px" height="30px">
                </div>
                <div class="col-lg-3">
                    <img src="https://hoanghamobile.com/Content/web/img/vnpost.jpg" width="80px" height="30px">
                </div>
                <div class="col-lg-6">
                </div>
            </div>

        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;margin-top: 20px">
        <span style="text-align:center;font-size:12px"><b> © 2020. CÔNG TY CỔ PHẦN XÂY DỰNG VÀ ĐẦU TƯ THƯƠNG MẠI HOÀNG HÀ. MST: 0106713191. (Đăng ký lần đầu: Ngày 15 tháng 12 năm 2014, Đăng ký thay đổi ngày 24/11/2022)<br>
                        GP số 426/GP-TTĐT do sở TTTT Hà Nội cấp ngày 22/01/2021<br>
                Địa chỉ: Số 885 Đường Tam Trinh, Phường Yên Sở, Quận Hoàng Mai, Thành Phố Hà Nội, Việt Nam. Điện thoại: 1900.2091. Chịu trách nhiệm nội dung: Trịnh Hải Sơn.</b></span>
    </div>
</div>

<!-- End Footer -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>